In [1]:
import pandas as pd
import colorlover as cl
import numpy as np
import plotly.plotly as py
import plotly.graph_objs as go

In [44]:
df = pd.read_hdf('df-2.0.hdf')
df.drop(df[df.index.str.len() < 13].index, inplace=True)
df.drop(['pos'], axis=1, inplace=True)
df.drop(df.columns[3:], axis=1, inplace=True)
df.head()

               phon  dur         m0
A11LJL002A001     1  159  42.414419
A11LJL002A001    16    8  84.361067
A11LJL002A001    30    8  65.576379
A11LJL002A001    38    6  69.506062
A11LJL002A001   130    6  78.975420

In [68]:
#df.dur = (df.dur.astype(float) - df.dur.min())/df.dur.std()
#df.m0 = (df.m0 - df.m0.min())/df.m0.std()
#dfb = df.loc[(df.phon == 44) | (df.phon == 16) | (df.phon == 40)]
#dfe = df.loc[(df.phon == 45) | (df.phon == 17) | (df.phon == 41)]
#dfi = df.loc[(df.phon == 46) | (df.phon == 18) | (df.phon == 42)]
dfb = df.loc[(df.phon == 44)]
dfe = df.loc[(df.phon == 45)]
dfi = df.loc[(df.phon == 46)]
dfbs = dfb.groupby(dfb.index.str.get(4)).mean()
dfbs = dfbs/dfbs.std()
dfes = dfe.groupby(dfe.index.str.get(4)).mean()
dfes = dfes/dfes.std()
dfis = dfi.groupby(dfi.index.str.get(4)).mean()
dfis = dfis/dfis.std()
dfis.drop(['phon'], axis=1).head(10)

         dur          m0
A  20.814580  136.723121
B  20.122835  136.156628
J  20.015139  138.306636
M  20.540986  136.793224
P  22.022289  135.176590
S  20.097193  136.187172
T  22.552886  135.938183
W  21.862594  135.238553

In [65]:
r = range(8)
s = ['Sulawesi', 'Papua', 'Bali', 'Jawa', 'Sunda', 'Betawi', 'Minang', 'Batak']
su = ['W', 'P', 'B', 'J', 'S', 'A', 'M', 'T']
dfbs = dfbs.reindex(su)
dfes = dfes.reindex(su)
dfis = dfis.reindex(su)
t1 = go.Area(r=dfbs.dur, t=s, name='awal', marker=dict(color=cl.scales['9']['seq']['PuBu'][1]))
t2 = go.Area(r=dfes.dur, t=s, name='akhir', marker=dict(color=cl.scales['9']['seq']['PuBu'][2]))
t3 = go.Area(r=dfis.dur, t=s, name='dalam', marker=dict(color=cl.scales['9']['seq']['PuBu'][3]))
fig = go.Figure(data=[t1,t2,t3], layout=go.Layout(barmode='stack', angularaxis=dict(tickcolor='rgb(253,253, 253)'), plot_bgcolor='rgb(223,223,223)'))
py.iplot(fig)